
:root{
    --purple: #7F56D9;       /*soft violet*/
    --darkpurple: #6941C6;   /* */
    --white: #ffffff;
    --davygrey: #555555;
    --lightgrey: #667085;
    --offwhite: #D0D5DD;
    --whitegrey: #EAECF0;
    --grey: #344054;
    --black: #000000;
    --lightgreen:  #ECFDF3;
    --ghostwhite: #F9F5FF;    /*#fcfcfd*/
    --green: #12B76A;
    --red: #F04438;
}
