@media screen and (max-width: 480px)
{
    .side-bar{
        max-width: 480px;
        max-height: 70px;
        position: relative;
        overflow: hidden;
    }
    .sidebar-content {
        flex-direction: row;
        height: auto;
        max-height: unset;
        padding: 0;
        background-color: var(--white);
    }
    .side-icon {
        justify-content: space-between;
        padding: 10px;
        visibility: visible;
        display: flex;
    }
    .side-icon figure{
        width: 30px;
        height: 30px;
        padding-top: 16px;
    }
    .side-icon figure #closeIcon{
        position: absolute;
        top: 50px;
        right: 200px;
    }
    .nav-header {
        background-color: var(--white);
    }
    .header-logo h1 {
        color: var(--black);
    }
    .nav-search,
    .nav-menu,
    .sidebar-footer {
        visibility: hidden;
        display: none;
    }
    .side-icon img {
        object-fit: cover;
    }
    
    /* Responsive pop-up styles */
    #toggleSidebar.active {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0px;
        width: 100%;
        max-width: 480px;
        height: 100%;
        z-index: 9999;
        background-color: var(--darkpurple);
        overflow-y: auto;
        transition: width 0.2s ease-in-out;
    }
    #toggleSidebar.active .sidebar-nav .nav-header,
    #toggleSidebar.active .sidebar-nav .nav-search,
    #toggleSidebar.active .sidebar-nav .nav-menu,
    #toggleSidebar.active .sidebar-footer .nav-menu,
    #toggleSidebar.active .sidebar-footer{
        visibility: visible;
        display: flex;
        background-color: var(--darkpurple);
        color: var(--white);
        padding: 15px 10px;
    }
    #toggleSidebar.active .sidebar-nav .nav-search {
        margin-top: 350px;
    }
    #toggleSidebar.active .sidebar-nav .nav-header .header-logo h1 {
        color: var(--white);
    }
    #toggleSidebar.active .sidebar-nav .nav-header .header-logo #closeIcon {
        position: absolute;
        right: 10px;
    }
}