*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 23px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 400;
}
img{
    width: 100%;
    height: auto;
}